{% extends 'core/base.html' %}

{% block title %}Inventory{% endblock %}

{% block content %}
    <h1 class="text-2xl text-center font-bold my-2"> My Inventory </h1>

        <div class="grid justify-items-end">
                <a href="{% url 'add_item' %}"  class="btn btn-primary">Add Item</a>
        </div>

    {% if items %}
            <h2 class="text-lg font-bold my-2"> My Items to Share: </h2>
                <div class = "flex flex-wrap mt-2 items-center justify-around">
                    {% for item in items %}
                        {% include 'store/item_grid2.html' %}
                    {% endfor %}
                </div>
        {% else %}
            <h2 class="text-lg my-6"> I haven't added any items added yet.. </h2>
    {% endif %}   

<h2 class="text-lg font-bold my-2"> Items I'm Borrowing: </h2>
{% if borrowed_items %}
            <div class = "flex flex-wrap mt-2 items-center justify-around">
                {% for item in borrowed_items %}
                    {% include 'store/item_grid2.html' %}
                {% endfor %}  
            </div>
  {% else %}
        <h2 class="text-lg my-6"> I don't have any borrowed items added yet.. </h2>
{% endif %} 


{% endblock %}   