{% extends 'core/base.html' %}


{% block title %} About {% endblock %}

{% block content %}

<h1 class="text-2xl text-center font-bold my-3">About</h1>

{% comment %} <a hx-get="{% url 'about' %}"> HTMX Link to My Account </a> {% endcomment %}

<p>{% include 'userprofile/partials/count_bell.html' %}</p>

{% comment %} <p hx-get="{% url 'request_count_bell' %}" hx-trigger="load"></p> {% endcomment %}
<div class="hidden xl:block">a</div>
<div class="hidden xl:hidden sm:block">b</div>
<div class="sm:hidden">c</div>

{% endblock %}