
{% comment %} <link
  rel="stylesheet"
  href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
  integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
  crossorigin=""
/>
<!-- Make sure you put this AFTER Leaflet's CSS -->
<script
  src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
  integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
  crossorigin=""
></script> {% endcomment %}

<style>
    .leaflet-container { z-index: 0 !important; }
</style>

 {{ points|json_script:"points-data" }} {% comment %} {% load
static %}
<script defer src="{% static 'store/item_map.js' %}"></script>
{% endcomment %}

<div id="map" class="w-full h-1/2 mt-12 mb-6 border-solid border-b-5"></div>

{% comment %} {% include 'store/test.html' %} {% endcomment %}

<div
  class="relative w-full bg-slate-50 rounded-xl overflow-auto dark:bg-slate-800/25"
>
  <div class="relative w-full rounded-xl overflow-auto">

    <div
      class="w-full mx-auto bg-white shadow-xl min-w-0 dark:bg-slate-800 dark:highlight-white/5"
    >
      <div x-data class="w-full overflow-x-scroll flex space-x-10">
        <template
          x-for="feature in $store.mapStore.data.features"
          :key="feature.id"
          class="flex-none"
        >
          <div x-bind:class="{'bg-secondary': feature.id == $store.itemSelected.id} ">
            <button x-data="{ hover: false }" 
                    @mouseover="cycleHighlight(feature.id); hover = true"
                    @mouseout="hover = false"
                    @click="$store.modal.open = true; updateStore(feature); selectedfid = feature.id; console.log(selectedfid);"
                    :class="{'bg-secondary' : hover}"
                    class="flex-1 w-32"
                    >
              <img
                class="w-24 h-24 object-cover rounded-sm"
                :src="mediaUrl+feature.properties.image_med"
              />
              <strong
                x-text="feature.properties.title"
                class="text-slate-900 text-sm font-medium dark:text-slate-200"
              ></strong>
              <span
                x-text="feature.properties.description"
                class="text-slate-500 text-sm font-medium dark:text-slate-400"
              ></span>
            </button>
          </div>
        </template>
      </div>
    </div>
  </div>
  <div
    class="absolute inset-0 pointer-events-none border border-black/5 rounded-xl dark:border-white/5"
  ></div>
</div>

{% include 'store/item_map_modal.html' %}



<script defer>
    const mediaUrl = "https://sharemore-media.s3.amazonaws.com/media/";

    var selectedfid = "";
       
    var data = document.getElementById("points-data").textContent;
    
    var geojsonData = JSON.parse(data);
    
    console.log(geojsonData);
    
    let currentlyHighlightedId = null;

    function testButton(){
        console.log('button clicked')
    }
    
    function highlightMarker(layer) {
      layer.setStyle({
          radius: 7,
          fillColor: "#00f05f", // Red color for highlighting
          color: "#000",
          weight: 1,
          opacity: 1,
          fillOpacity: 0.8
      });
    }
    
    function resetMarkerStyle(marker) {
      marker.setStyle({
          radius: 7,
          fillColor: "#5645a1", // Original color
          color: "#000",
          weight: 1,
          opacity: 1,
          fillOpacity: 0.8
      });
    }
    
    let markersById = {};
    
    function highlightMarkerById(featureId) {
    let marker = markersById[featureId];
    if (marker) {
        // Highlight style
        marker.setStyle({
            radius: 7,
            fillColor: "#00f05f", // Red color for highlighting
            color: "#000",
            weight: 1,
            opacity: 1,
            fillOpacity: 0.8
        });
    }
    }
    
    function resetHighlightById(featureId) {
    let marker = markersById[featureId];
    if (marker) {
        // reset style
        marker.setStyle({
            radius: 7,
            fillColor: "#5645a1", // Original color
            color: "#000",
            weight: 1,
            opacity: 1,
            fillOpacity: 0.8
        });
    }
    }
    
    function cycleHighlight(clicked_id){
    if (currentlyHighlightedId) {
        resetHighlightById(currentlyHighlightedId);
    }
    highlightMarkerById(clicked_id);
    currentlyHighlightedId = clicked_id;
    }
    
    
    function initMap() {
      var map = L.map("map").setView([37.54022, -77.45811], 11);
      L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
        maxZoom: 19,
        attribution: "© OpenStreetMap contributors",
      }).addTo(map);
    
      let pointLayer = L.geoJSON(geojsonData, {
      pointToLayer: function(feature, latlng) {
          return L.circleMarker(latlng, {
              radius: 7,
              fillColor: "#5645a1", // Original color
              color: "#000",
              weight: 1,
              opacity: 1,
              fillOpacity: 0.8
          });
      },
    
    
        onEachFeature: function (feature, layer) {
        
            markersById[feature.id] = layer;
    
    
          layer.on("click", function (e) {
            console.log(feature.properties.title);
            updateStore(feature);
            selectedfid = feature.id;
            console.log(selectedfid);
    
            if (currentlyHighlightedId) {
              resetHighlightById(currentlyHighlightedId);
              }
    
          highlightMarkerById(feature.id)
          currentlyHighlightedId = feature.id;
    
    
          });
        },
      }).addTo(map);
    
      map.fitBounds(pointLayer.getBounds());
    }
    
    document.addEventListener("alpine:init", () => {
    
        Alpine.store("mapStore", {
            data: geojsonData,
    
        });
      
        Alpine.store("itemSelected", {
            id: "",
            title: "",
            description: "",
            imageUrl: "",
            userImg: "",
            {% comment %} addCartUrl: "", {% endcomment %}
        });

        Alpine.store("modal", {
            open: false,
        });    
    });
    
    function updateStore(feature) {
      Alpine.store("itemSelected").id = feature.id;
      Alpine.store("itemSelected").title = feature.properties.title;
      Alpine.store("itemSelected").description = feature.properties.description;
      Alpine.store("itemSelected").imageUrl = mediaUrl + feature.properties.image;
      {% comment %} Alpine.store("itemSelected").userImg = mediaUrl + feature.properties.user.userprofile.thumbnail; {% endcomment %}

      document.getElementById('add-cart').href = 'add_to_cart/' + feature.id;
      console.log(document.getElementById('add-cart').href)
    }
    
    document.body.addEventListener("htmx:afterSwap", function (event) {
      if (event.target.id === "item-grid") {
        initMap();
      }
    });
    
    document.addEventListener("DOMContentLoaded", function () {
      if (document.getElementById("map")) {
        initMap();
      }
    });
    
    
    
    
    
    
</script>