<div class="overflow-x-auto">
  <table class="table">
    <thead>
      <tr>
        <th>User</th>
        <th>Item</th>
        <th class="text-center">Dates</th>
        <th class="text-center">Status</th>
        <th></th>
      </tr>
    </thead>
    {% if items %} {% for item in items %}
    <!-- row 1 -->
    <tr>
      <td>
        <a href="{% url 'item_detail' item.category.slug item.slug %}">
          <div class="flex items-center space-x-3">
            <div class="avatar">
              <div class="mask mask-circle w-12 h-12">
                <img src="{{ item.thumbnail.url }}"></img>
              </div>
            </div>
            <div>
              <div class="font-bold">{{ item.get_title }}</div>
            </div>
          </div>
        </a>
      </td>
      <td>
        {% if user.is_authenticated and request.user.id == item.user.id %}
        <a class="btn btn-sm btn-error" href="{% url 'edit_item'  item.id %}">
          <i class="fas fa-edit"></i>
          {% endif %}
        </a>

        <div class="badge badge-outline">{{ item.get_display_price }}</div>
        <div class="badge badge-outline">{{ item.category }}</div>
      </td>
      <td class="text-center"></td>
      <td class="text-center"></td>
      <th></th>
    </tr>
    {% endfor %} {% else %}
    <tr>
      <td colspan="5" class="text-center">No items found</td>
    </tr>
    {% endif %}
  </table>
</div>
