{% block content %}

<div class="flex flex-wrap my-6 items-center justify-around">
  <div class="card w-36 m-2 bg-base-100 shadow-xl">
    <div>
      <a href="{% url 'item_detail'  item.category.slug item.slug %}">
        {% if item.image %}
        <figure>
          <img src="{{ item.image_med.url }}" alt="{{ item.title }}" />
        </figure>
        {% endif %}
      </a>
    </div>

    <div class="card-body">
      <span class="flex justify-around">
        <a
          class="btn btn-sm btn-accent"
          href="{% url 'item_detail'  item.category.slug item.slug %}"
        >
          <h3 class="card-title">
            <div class="text-sm">{{ item.get_title }}</div>
          </h3>
        </a>

        {% if user.is_authenticated and request.user.id == item.user.id %}
        <a class="btn btn-sm btn-error" href="{% url 'edit_item'  item.id %}">
          <i class="fas fa-edit"></i>
          {% endif %}
        </a>
      </span>
      <p>{{ item.description }}</p>
      <div class="card-actions justify-end">
        <div class="badge badge-outline">${{ item.get_display_value }}</div>
        <div class="badge badge-outline">{{ item.category }}</div>
        <a
          class="badge badge-secondary"
          href="{% url 'vendor_page' item.user.id %}"
        >
          {% firstof item.user.get_full_name item.user.username %}
        </a>
      </div>
    </div>
  </div>
</div>
  {% endblock %}

