{% extends 'core/base.html' %}
{% block title %}Welcome{% endblock %}
{% block content %}

<style type = "text/css">
    .leaflet-container { z-index: 1 !important; }
</style>

    <span class="isolate inline-flex rounded-md shadow-sm bg-base-300">
        <div class="join">
            <input name="view"
                   value="grid"
                   class="join-item btn btn-sm bg-base-300"
                   type="radio"
                   aria-label="Grid"
                   hx-get="{% url 'frontpage' %}?{{ request.GET.urlencode }}"
                   hx-trigger="click"
                   hx-target="#item-grid"
                   hx-swap="innerHTML"
                   hx-push-url="true"
                   {% if current_view == 'grid' %}checked{% endif %} />

            <input name="view"
                   value="list"
                   class="join-item btn btn-sm bg-base-300"
                   type="radio"
                   aria-label="List"
                   hx-get="{% url 'frontpage' %}?{{ request.GET.urlencode }}"
                   hx-trigger="click"
                   hx-target="#item-grid"
                   hx-swap="innerHTML"
                   hx-push-url="true"
                   {% if current_view == 'list' %}checked{% endif %} />
            
            <input name="view"
                   value="map"
                   class="join-item btn btn-sm bg-base-300"
                   type="radio"
                   aria-label="Map"
                   hx-get="{% url 'frontpage' %}?{{ request.GET.urlencode }}"
                   hx-trigger="click"
                   hx-target="#item-grid"
                   hx-swap="innerHTML"
                   hx-push-url="true"
                   {% if current_view == 'map' %}checked{% endif %} />
        </div>
        {% comment %} <i class="fa-solid fa-grip-vertical"></i>
        <p class="text-align right pl-1"> 
            Grid
        </p>

        <i class="fa-solid fa-list-ul"></i>
        <p class="text-align right pl-1"> 
            List
        </p>

        <i class="fa-solid fa-map-location-dot"></i>
        <p class="text-align right pl-1"> 
            Map
        </p> {% endcomment %}
    </span>
    <div id = "item-grid">
        {% if items %}
            {% if current_view == 'grid' %}
                {% include 'store/item_grid.html' %}
            {% elif current_view == 'list' %}
                {% include 'store/item_list.html' %}
            {% elif current_view == 'map' %}
                {% include 'store/item_map.html' %}
            {% else %}
                {% include 'store/item_grid.html' %}
            {% endif %}
        {% else %}
            <h2 class="text-lg my-6">Nobody items match this criteria (</h2>
        {% endif %}
    </div>
 
    {% comment %} {% load static %}
    <script defer src="{% static 'store/item_map.js'%}">
    </script> {% endcomment %}
                           


{% endblock %}
