{% extends 'core/base.html' %}

{% load custom_filters %}

{% block title %}Requests{% endblock %}

{% block content %}
    {% comment %} <h1 class="text-2xl text-center font-bold my-2"> All Share Requests </h1>
   {% endcomment %}


        <div class="overflow-x-auto">
            <table class="table">
                <h1 class="text-lg font-bold my-2 text-center">Status of My Requests to Others:</h1>
            <thead>
                <tr>
                <th>User</th>
                <th>Item</th>
                <th class="text-center">Dates</th>
                <th class="text-center">Status</th>
                <th></th>
                </tr>
            </thead>
    {% if my_requests_and_forms %}
        {% for lendrequest, form in my_requests_and_forms %}
    
                <tbody>
                    <!-- row 1 -->
                    <tr>
                    <td>
                        <div class="flex items-center space-x-3">
                        <div class="avatar">
                            <div class="mask mask-circle w-12 h-12">
                            <img src={{ lendrequest.giver.userprofile.thumbnail.url }}/>
                            </div>
                        </div>
                        <div>
                            <div class="font-bold">{% firstof lendrequest.giver.get_full_name lendrequest.giver.username %} </div>
                        </div>
                        </div>
                    </td>
                    <td>
                        {% for item in lendrequest.request_items.all %}
                        <div class="flex items-center space-x-3">
                        <div class="avatar">
                            <div class="mask mask-squircle w-12 h-12">
                            <img src={{ item.item.thumbnail.url }} alt={{ item.item.title }} />
                            </div>
                        </div>
                        <div>
                        
                            <div class="font-bold">{{ item.item.title }}</div>
                            <div class="text-sm opacity-50">{{ item.item.description }}</div>
                        </div>
                        </div>
                        {% endfor %}
                    </td>
                    <td class="text-center">
                            {{ lendrequest.pickup_date|date:"M d" }} - {{ lendrequest.return_date|date:"M d" }}
        
                    </td>
                    <td class="text-center">
{{lendrequest.giver.username}} {{ lendrequest.workflow_state }} your request
                            <form method="post">
                                {% csrf_token %}
                                <input type="hidden" name="form_prefix" value="{{ form.prefix }}"> 
                                
                    
                                {{ form.workflow_state }}
                                                        
                                <button class = "btn btn-primary btn-sm m-6" type="submit" name="{{form.prefix}}">Update</button>
                            </form>

                    </td>
                    <th>

                    </th>
                    </tr>                    
                {% endfor %}
    {% else %}
        <tr>
            <td colspan="5" class="text-center">No requests to others</td>
        </tr>
    {% endif %}



<div class="overflow-x-auto">
    <table class="table">
        <h1 class="text-lg font-bold my-2 text-center">Respond to Share Requests Sent to Me:</h1>
        <thead>
        <tr>
            <th>User</th>
            <th>Item</th>
            <th class="text-center">Dates</th>
            <th class="text-center">Status</th>
            <th></th>
        </tr>
        </thead>
        {% if their_pending_request_approval_forms %}

        {% for lendrequest, form in their_pending_request_approval_forms %}

                <tbody>
                <!-- row 1 -->
                <tr>
                    <td>
                    <div class="flex items-center space-x-3">
                        <div class="avatar">
                        <div class="mask mask-circle w-12 h-12">
                            <img src={{ lendrequest.requester.userprofile.thumbnail.url }}>
                        </div>
                        </div>
                        <div>
                        <div class="font-bold">{% firstof lendrequest.requester.get_full_name lendrequest.requester.username %} </div>
                        </div>
                    </div>
                    </td>
                    <td>
                    {% for item in lendrequest.request_items.all %}
                    <div class="flex items-center space-x-3">
                        <div class="avatar">
                        <div class="mask mask-squircle w-12 h-12">
                            <img src={{ item.item.thumbnail.url }} alt={{ item.item.title }} />
                        </div>
                        </div>
                        <div>
                        
                        <div class="font-bold">{{ item.item.title }}</div>
                        <div class="text-sm opacity-50">{{ item.item.description }}</div>
                        </div>
                    </div>
                    {% endfor %}
                    </td>
                    <td class="text-center">
                        {{ lendrequest.pickup_date|date:"M d" }} - {{ lendrequest.return_date|date:"M d" }}
        
                    </td>
                    <td class="text-center">
                        <form method="post">
                            {% csrf_token %}
                            <input type="hidden" name="form_prefix" value="{{ form.prefix }}"> 
                            
                    
                            {{ form.workflow_state }}
                                                        
                            <button class = "btn btn-primary btn-sm m-6" type="submit" name="{{form.prefix}}">Update</button>
                        </form>

                    </td>
                    <th>

                    </th>
                </tr>
                  
    {% endfor %}

    {% else %}
    <tr>
        <td colspan="5" class="text-center">No lend requests from others</td>
    </tr>

{% endif %}

{% endblock %}   


