
<ul>

    {% for string in approved_string %}
    <li>
        <span> 
            <i class="fa fa-check"></i>
            {{ string }}
        </span>
    </li>
    {% endfor %}

    {% for string in pending_string %}
    <li>
     <span> <i class="fa fa-question-circle"></i>
         {{ string }}
     </span>
        </li>
     {% endfor %}
     
     {% for string in denied_string %}
     <li>
      <span> <i class="fa fa-x"></i>
        {{ string }}
       </span>
      </li>

      {% endfor %}

</ul>


