{% comment %} <div className="badge badge-primary badge-sm text-black"></div> {% endcomment %}

{% block content %}
<p class="absolute bottom-auto left-auto right-0 top-0 z-10 inline-block -translate-y-1/2 translate-x-2/4 rotate-0 skew-x-0 skew-y-0 scale-x-100 scale-y-100 whitespace-nowrap rounded-full bg-indigo-700 px-2 py-1 text-center align-baseline text-xs font-bold leading-none ">
<p></p
    {% comment %} {% if approved_count > 0 %} {% endcomment %}
        {{ all_count }}
</p>

{% endblock %}
    {% comment %} {% endif %} {% endcomment %}



{% comment %} <br></br>
    {% if denied_count > 0 %}
        {{ denied_count }}
    {% endif %}
    <br></br>
    {% if pending_count > 0 %}
    {{ pending_count }}
{% endif %}

</p {% endcomment %}

core\templates\core\partials\request_count_bell.html
core\templates\core\partials\request_count_bell.html